{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Hello Contact !
{% endblock %}

{% block body %}
	<h1 class="my-3">
		{% trans %}Contact{% endtrans %}
	</h1>
{% endblock %}


{% block body %}
	<div>
		{{form(form)}}
		</div>
	{% endblock %}
