{% extends 'base.html.twig' %}

{% block title %}
	Erreur 404
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Oops, erreur 404 !</h1>
		<p>Something went wrong !</p>
		<p>The page you were looking for could not be found !</p>
	</div>
{% endblock %}
