{% extends 'base.html.twig' %}

{% block title %}Editer un article
{% endblock %}

{% block body %}
	<h1 class="my-4">Edit article n°
		{{ article.id }}</h1>
	{{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
